body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
}

#present {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Warrow {
    width: 100px;
    height: 100px;
}

#projet {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
}

#more {
    width: 100%;
    height: 100vh;
    background: #8b8a8c;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.fenetre1 {
    width: 25%;
    height: 100%;
    padding: 0;
    margin: 0;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fenetre1:hover {
    width: 60%;
}

a {
    width: 100px;
    height: 15%;
    -webkit-text-fill-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s;
}

#Barrow {
    position: absolute;
    background-image: url("img/arrow.svg");
    left: 47%;
    bottom: 10px;
    width: 25px;
    height: 47px;
    filter: invert(1);
    background-size: 430%;
    background-position: -41px -12px;
}

h4 {
    padding: 0px;
    margin: 0px;
}

h5 {
    padding: 0px;
    margin: 0px;
}

form {
    display: flex;
    flex-direction: column;
}

.inprout {
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.info {
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

#contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lienDL {
    text-decoration: none;
    text-align: center;
    -webkit-text-fill-color: white;
    border-radius: 3px;
    background-color: black;
    border: black;
}